div,
p {
  margin: 0;
}

.data-type {
  margin-top: 20px;
  border: 1px #ddd solid;
  padding: 10px;
  font-size: 14px;
  line-height: 14px;
  word-break: break-all;

  .title {
    margin-bottom: 10px;
  }

  .title2 {
    margin: 10px 0;
  }

  .label {
    margin-right: 10px;
  }

  .button {
    margin-top: 10px;
    margin-right: 10px;
  }

  .result {
    margin-left: 10px;
  }

  .color-dot {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 5px;
    border: 1px solid #000;
  }

  .templ-input {
    min-height: 180px;
    width: 100%;
    resize: none;
    border: 1px #000 solid;
  }

  .templ-config {
    margin-top: 10px;
  }

  #canvas-mock {
    margin-top: 10px;
    border: 1px #000 solid;
  }
}

.radio {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
